<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/reset.css">
  </head>

  <body class="{{bgPage}}">

    <nav class="nav-bar">

      <button class="btn btn-1 hope-page-btn">
        <img src="/images/hollywoodStars.png" alt="">
        <a href="/">Home</a>
      </button> 
      
      <button class="btn btn-2 hope-page-btn">
        <img src="/images/hollywoodStars.png" alt="">
        <a href="/celebrities/create">Create Celebrities</a>
      </button>

      <button class="btn btn-3 hope-page-btn">
        <img src="/images/hollywoodStars.png" alt="">
        <a href="/celebrities/veiw-all-celebrities">Celebrities</a>
      </button>

      <button class="btn btn-4 hope-page-btn">
        <img src="/images/hollywoodStars.png" alt="">
        <a href="/movies/create">Create Movie</a>
      </button>

      <button class="btn btn-5 hope-page-btn">
        <img src="/images/hollywoodStars.png" alt="">
        <a href="/movies/view-all-movies">All Movies</a>
      </button>

    </nav>

    <div class="container {{container}}">
      {{{body}}}
    </div>

    <script src="/javascripts/script.js"></script>
  </body>

</html>