<h1 class="text-of-all">Movies</h1>

<div class="list-of-all">
    {{#each casts}}
        <ul class="ul-container ul-container-hover">
            <li class="title-movie"><a href="/movies/movies-details/{{_id}}" class="title-movie-a">{{title}}</a></li>
            <li class="genre">Genre: {{genre}}</li>
            <br>
        </ul>
    {{/each}}
</div>